body{
	background-image: url('../food/backgound2.jpg');
	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: cover;
	color:#555;
	font-family: Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height:1.6em;
	margin: 0;
}

#mainHeader{
	background-color:#7c0e0e;
	color:#fff;
}

#mainHeader h1{
	padding: 0;
	text-align: center;
}

.container{
	width:100%;
	overflow:hidden;
	margin: 0;
	padding: 0;
}

.customer_desc{
	width: 550px;
	height: 200px;
	background-color: white;
	margin: auto;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 0px 3px rgba(0, 0, 0, 0.24);
	border-radius: 4px;
	color: black;
}

.customer_desc h2, h4{
	padding-top: 15px;
	text-align: center;
	color: black;
}

.submit {
	text-align: center;
	margin-bottom: 10px;
}

.submit input{
	margin-left:10px;
	margin-top:5px;
	background-color:#7c0e0e;
	color: white;
	font-size: 20px;
	border-radius: 4px;
}