body{
	background-image: url('../food/backgound2.jpg');
	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: cover;
	color:#555;
	font-family: Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height:1.6em;
	margin: 0;
}

#mainHeader{
	background-color:#7c0e0e;
	color:#fff;
}

#mainHeader h1{
	padding: 0;
	text-align: center;
}



.my-form input{
	text-align: center;
	border-radius: 4px;
	border-style: outset;
	background-color:white;
	color:#7c0e0e;
}